h1 {
    color: #eef;
}

body {
    font-family: "Segoe UI","SF Pro","Ubuntu",sans-serif;
    color: #eff;
    background-color: #69b;
}

ol {
    width: max-content;
    border-radius: 7px;
    border: 3px solid #8bd;
    margin-bottom: 3px;
}

li {
    margin-top: -3px;
    width: max-content;
    border-radius: 7px;
    border: 3px solid #8bd;
    margin-bottom: -3px;
    margin-right: -3px;
}

img {
    border-radius: 25px;
}

#input {
    font-family: "Segoe UI","SF Pro","Ubuntu",sans-serif;
    color: #eff;
    background-color: #69b;
    border: 2px solid #8bd;
    border-radius: 4px;
}

.delete {
    font-family: "Segoe UI","SF Pro","Ubuntu",sans-serif;
    color: white;
    background-color: #c00;
    border: 2px solid red;
    border-radius: 4px;
}

.delete:hover {
    color: #f88;
    background-color: #800;
    border: 2px solid #c00;
}

#add {
    font-family: "Segoe UI","SF Pro","Ubuntu",sans-serif;
    color: #eff;
    background-color: #8bd;
    border: 2px solid #8bd;
    border-radius: 4px;
}

#add:hover {
    color: #bdd;
    background-color: #479;
    border: 2px solid #479;
}